.textBox {
    background-color: #c89d28;
    border: solid black;
    top: 160px;
    left: 5%;
    height: 450px;
    width: 90%;
    position: absolute;
    text-align: left;
    font-family: Calibri;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
}


header{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    background: white;
    align-items: center;

}
#headerCenter{
    display: flex;
    justify-content: center;
}
#headerLeft{
    margin-left: 5%;
}
#headerRight{
    margin-right: 5%;
}

.buttonLogOut{
    background-color: #1892c3;
    color: white;
    font-size: 100%;
    text-align: center;
    display: inline-block;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    margin: 1%;
    border-color: #1892c3;
    border-radius: 15%;
}
.counterweight1{
    display: inline-block;
    height: 5vh;
    width: 5vw;
    margin: 1%;
    border-color: #1892c3;
    border-radius: 15%;
}
.LogInBox{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    background-color: #1892c3;
    color: white;
    margin: 5%;
    border-color: #1892c3;
    border-radius: 15%;
    height: 30vh;
    width: 15%;
    padding: 5vh
}
input {
    display: none;
}

label {
    display: block;
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #1892c3;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: #20566b;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}
.RegistreringsBox{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    background-color: #1892c3;
    color: white;
    margin: 5%;
    border-radius: 15%;
    height: 45vh;
    width: 20vw;
    padding: 5vh;
}
.table-container {
    display: flex;
    overflow-y: scroll;
    border: 1px solid black;
    justify-content: left;
    height: 300px;
    bottom: 200px;
}
.rightCarButton{
    margin-right: 30vw;
    color: white;
    display: inline-block;
    text-align: center;
    background-color: #1892c3;
    border-color: #1892c3;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    height: 3vh;
    width: 10vw;
    cursor: pointer;
}

.leftCarButton{
    margin-left: 30vw;
    color: white;
    display: inline-block;
    text-align: center;
    background-color: #0f5c7a;
    border-color: #0f5c7a;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    height: 3vh;
    width: 10vw;
    cursor: pointer;
}
