.textBox {
    background-color: #c89d28;
    border: solid black;
    top: 160px;
    left: 5%;
    height: 450px;
    width: 90%;
    position: absolute;
    text-align: left;
    font-family: Calibri;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: center;
}


header{
    display: flex;
    justify-content: space-around;
    width: fit-content;
    background: white;
    align-items: center;

}
#headerCenter{
    display: flex;
    justify-content: center;
}
#headerLeft{
    margin-left: 5%;
}
#headerRight{
    margin-right: 5%;
}

.buttonLogOut{
    background-color: #1892c3;
    color: white;
    font-size: 100%;
    text-align: center;
    display: inline-block;
    height: 5vh;
    width: 5vw;
    cursor: pointer;
    margin: 1%;
    border-color: #1892c3;
    border-radius: 15%;
}
.counterweight1{
    display: inline-block;
    height: 5vh;
    width: 5vw;
    margin: 1%;
    border-color: #1892c3;
    border-radius: 15%;
}
.LogInBox{
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    background-color: #1892c3;
    color: white;
    margin: 5%;
    border-color: #1892c3;
    border-radius: 15%;
    height: 30vh;
    width: 15%;
    padding: 5vh
}
.toggle_collapse {
    /* make it show to work across all ua's */
    display:block;
}
.toggle_collapse, /* hide off screen */
.toggle_collapse + * > .collapseAfter ~ * {
    position:absolute;
    top:-999em;
    left:-999em;
}
.toggle_collapse:checked + *  .collapseAfter ~ * {
    position:static;
}
.toggle_collapse + * + label {
    display:inline-block; /* make visible for screen media */
    color:blue;
}
.toggle_collapse + * + label:before {
    content:"See More";
}
.toggle_collapse:checked + * + label:before {
    content:"See Less";
}
.toggle_collapse + * + label:after {
    content:"\25BC";
    display:inline-block;
    padding:0.4em 0 0 0.3em;
    vertical-align:top;
    font-size:0.625em;
}
.toggle_collapse:checked + * + label:after {
    content:"\25B2";
}