.textBox {
    display: flex;
    background-color: dodgerblue;
    border: solid black;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 37%;
    font-family: Arial;
    flex-flow: nowrap;
    flex-direction: column;
}

.userInput {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.password-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.username-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner {

}