*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

button{}

.logo{
    background-image: url("../static/BILABONNEMENT.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 50%;
    height: auto;

}

.titel{}

.registrerButton{}

.removeButton{}

.LogUdButton{}

.skadeMenu{}

.ikkeSkadeMenu{}

.søgefelt{}



