<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Tobias Winkel
-->

<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" th:href="@{/DR.Style.css}" href="../static/DR.Style.css">
</head>
<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>
<body>

<section>
    <button class="leftCarButton">Ikke validerede reservationer</button>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <form action="http://localhost:8080/Dataregistrering/Valid">
    <button class="rightCarButton">Validerede reservationer</button></form>
</section>


<div class="forretningsudviklerBox"><h1>Dataregistrering - Invaliderede</h1></div>
<br><br>
<!--
<button style="position: absolute;width: 185px;height: 34px;top: 185px;left: 30%;z-index: 1; cursor: pointer;" >Ikke validerede reservationer</button>
<button style="position: absolute;width: 185px;height: 34px;top: 185px;left: 60%;z-index: 1; cursor: pointer;" >Validerede reservationer</button>


<input type="checkbox" id="Registreringstabel" style="" />
<br><br>
<label for="Registreringstabel">
    <th style="width: 200vw;">BilID</th>
    <th style="width: 200vw;">KundeID</th>
    <th style="width: 200vw;">StartDato</th>
    <th style="width: 200vw;">SlutDato</th>

    <tr th:each="reservation:${validliste}">
        <td th:text="${reservation.bilID}"></td>
        <td th:text="${reservation.kundeID}"></td>
        <td th:text="${reservation.startDato}"></td>
        <td th:text="${reservation.slutDato}"></td>
        <input type="checkbox" id="" />
        </tr>



    <button style="width: 50px;cursor: pointer;">Slet</button>
    <button style="width: 70px;cursor: pointer;">Acceptér</button>
-->
</label>
<div class="table-container2" style="height:500px">
    <table style="width:700px">
        <tr>
            <th>Bil ID</th>
            <th>Kunde ID</th>
            <th>Startdato</th>
            <th>Slutdato</th>
        </tr>
        <tr th:each="reservation:${invalidliste}">
            <td th:text="${reservation.bilID}"></td>
            <td th:text="${reservation.kundeID}"></td>
            <td th:text="${reservation.startDato}"><td>
            <td th:text="${reservation.slutDato}"><td>
            <form action="/Dataregistrering/Invalid" method="post">
                <input type="hidden" name="reservationID" th:value="${reservation.reservationID}">
            <td><button type="submit" name="submit" value="submit">Valider</button></td>
            </form>
            <form action="/Dataregistrering/Invalid/DELETE" method="post">
                <input type="hidden" name="reservationID" th:value="${reservation.reservationID}">
                <td><button type="submit" name="submit" value="submit">Slet</button></td>
            </form>



        </tr>
    </table>
</div>


</body>
<footer>

</footer>
</html>