<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Tobias Winkel
-->

<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" th:href="@{/DR.Style.css}" href="../static/DR.Style.css">
</head>
<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>
<body>



<div class="forretningsudviklerBox"><h1>Dataregistrering</h1></div>
<!--
<div class="table-container">
<table>
<thead>
<tr>
    <th>Bil</th>
    <th>Udlejer-ID</th>
    <th>Pris</th>
</tr>
</thead>
<tbody>

<tr th:each="bil:${bilList}">
    <td th:text="${bil.name}"></td>
    <td th:text="${bil.Udlejer-ID}"></td>
    <td th:text="${bil.pris}"></td>
</tr>

</tbody>
</table>
</div>
-->



<section class="RegistreringsBox">
    <b style="font-size: 250%; align-self: center; color: white;">Registrering</b>
    <form action="/" method="post">
        <label for="Fornavn"></label>
        <p style="font-size: 120%; align-self: center; color: white; padding: 5%; ">Fornavn: <input type="text" id="Fornavn" name="Fornavn" autofocus="autofocus" required/></p>

        <label for="password"></label>
        <p style="font-size: 120%; align-self: center; color: white; padding: 5%; ">Password:<input type="password" id="password" name="password"  required/></p>

        <p><input style="align-self: center; margin-left: 40%; margin-top: 2%; background-color: white; text-align: center; display: inline-block; height: 3vh; width: 3vw; cursor: pointer; border-color: #1892c3; border-radius: 15%;" type="submit" value="Log ind"></p>
    </form>
</section>
</body>
<footer>

</footer>
</html>