<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Tobias Winkel
-->

<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" th:href="@{/DR.Style.css}" href="../static/DR.Style.css">
</head>
<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>
<body>

<div class="forretningsudviklerBox"><h1>Dataregistrering</h1></div>

<div class="table-container">
<table>
<thead>
<tr>
    <th>Bil</th>
    <th>Udlejer-ID</th>
    <th>Pris</th>
</tr>
</thead>
<tbody>

<tr th:each="reservation:${validliste}">
    <td th:text="${reservation.bilID}"></td>
    <td th:text="${reservation.kundeID}"></td>
    <td th:text="${reservation.startDato}"></td>
    <td th:text="${reservation.slutDato}"></td>
    <input type="checkbox" id="title1" />
<label for="title1">
    <th style="width: 200vw;">BilID</th>
    <th style="width: 200vw;">Skade</th>
    <th style="width: 200vw;">Pris</th>
    <td><button style="width: 50px;cursor: pointer;">Slet</button>
        <button style="width: 70px;cursor: pointer;">Acceptér</button></td></label></td></label>


<div class="content">
    <p>
    <th style="width: 200vw;">Leveringstidspunkt</th>
    <th style="width: 200vw;">Afhentningstidspunkt</th>
    <th style="width: 200vw;">Værksted</th>

    </p>
</div>
</tr>

</tbody>
</table>
</div>


</body>
<footer>

</footer>
</html>