<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Cemarkay Türker, August Høg Dedenroth
-->
<head>
    <meta charset="UTF-8">
    <title>Forretningsudviklere</title>
    <link rel="stylesheet" th:href="@{/FU.Style.css}" href="/static/FU.Style.css">
</head>

<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="src/main/resources/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>

<body>
<section class="forretningsudviklerBox"><div style="font-size: 250%; align-self: center;">Forretningsudviklere:</div></section>

<section class="totalPris">
    <div style="font-size: 100%;"><nobr>Total pris: <text th:text="${totalpris}"></text></nobr>
   </div>
</section>
<div class="table-container">
<table style="width:500px">
    <tr>
        <th>Udlejet Biler (ID)</th>
        <th>Pris</th>
    </tr>
    <tr th:each="bil:${billiste}">
        <td th:text="${bil.bil_ID}"></td>
        <td th:text="${bil.pris}"></td>
    </tr>
</table>
</div>
</body>
<footer>

</footer>
</html>