<!DOCTYPE html>
<html lang="en">
<!--
Forfatter: @August Høgh Dedenroth
-->
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static/index.Style.css">
</head>


<body>
<header class="header">
    <img class="logo-sign-in" src="/static/Images/BILABONNEMENT.png" alt="billede" height="100%" width="50%">
    <div class="button" onclick="this"></div>
</header>
<div class="wrapper">
<div class="background">


<section class="menu">
    <div class="textBox">
        <b style="font-size: 42px; align-self: center; color: white"><div>Log Ind</div></b>
        <div class="userInput">
            <div class="username-container">
                <label for="username">Brugernavn:</label>
                <input type="text" id="username" name="username">
            </div>

            <div class="password-container">
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="password" required>
            </div>

            <input type="submit" value="Sign in">

        </div>
    </div>
</section>

</div>

</div>
</body>
</html>