<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static/index.Style.css">
</head>
<body>
<section class="menu">
    <div class="textBox">
        <b style="font-size: 42px"><nobr>Log Ind</nobr></b>
        <div class="userInput">
            <div class="username-container">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>

            <div class="password-container">
                <label for="pass">Password (8 characters minimum):</label>
                <input type="password" id="pass" name="password"
                       minlength="8" required>
            </div>

            <input type="submit" value="Sign in">

        </div>
    </div>
</section>


</body>
</html>