<!DOCTYPE html>
<html lang="en">
<!--
Forfatter: @August Høgh Dedenroth
-->
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" th:href="@{index.Style.css}" href="../static/index.Style.css">
</head>


<body>
<header class="header">
    <img class="logo-sign-in" th:src="@{/Images/BILABONNEMENT.png}" src="/static/Images/BILABONNEMENT.png" alt="billede" height="100px" width="500px">
    <div class="button" onclick="this"></div>
</header>
<div class="wrapper">
    <div class="background">


        <section class="menu">
                <form action="#" th:action="@{/logIn}" th:object="${personale}" method="post">
            <div class="textBox">
                <b style="font-size: 42px; align-self: center; color: white">
                    <nobr>Log Ind</nobr>

                </b>

                    <div class="userInput">
                        <div class="username-container">
                            <label for="brugernavn">Brugernavn:</label>
                            <input type="text" id="brugernavn" name="brugernavn">
                        </div>

                        <div class="password-container">
                            <label for="password">Password (8 karakterer minimum):</label>
                            <input type="password" id="password" name="password"
                                   minlength="8" required>
                        </div>

                        <input type="submit" value="Log ind">

                    </div>
                </form>
            </div>

        </section>

    </div>

</div>
</body>
</html>