<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Martin Anberg
-->
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{/SogUikkeSkadet.Style.css}" href="../static/SogUikkeSkadet.Style.css">
</head>


<header>
    <div id="headerLeft">
        <a th:href="@{/logout}">
            <button class="buttonLogOut">Log out</button></a>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>


<body>
<div class="forretningsudviklerBox"><div style="font-size: 250%; align-self: center;"><b>Skade og udbedring - Ubeskadigede biler</b></div></div>
<br><br>
<section>
    <form action="http://localhost:8080/SkadeOgUdbedring/Biler-med-skader?">
    <button type="submit" class="CarButton" >Vis beskadigede biler</button></form>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

</section>


<div class="table-container">
    <table style="width: 700px">
        <tr>
            <th>Bil-ID</th>
            <th>Årgang</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Farve</th>
            <th>Indtast Fejl</th>
            <th>Indtast Pris</th>
            <th></th>
        </tr>
        <tr th:each="bil:${uskadetBilListe}">
            <td th:text="${bil.bil_ID}"></td>
            <td th:text="${bil.aargang}"></td>
            <td th:text="${bil.maerke}"></td>
            <td th:text="${bil.model}"></td>
            <td th:text="${bil.farve}"></td>
            <form action="/SkadeOgUdbedring/Biler-uden-skader?" method="post">
                <td><label for="fejl"></label><input type="text" id="fejl" name="fejl"></td>
                <td><label for="pris"></label><input type="number" id="pris" name="pris"></td>
                <input type="hidden" name="bil_ID" th:value="${bil.bil_ID}">
                <td><button type="submit" name="submit" value="Opret fejl">Opret fejl</button></td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>





