<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Martin Anberg
-->
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{../static/S&U.Style.css}" href="../static/S&U.Style.css">
</head>
<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="BILABONNEMENT.PNG" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>
<body>
<h1 class="logo"></h1>
<div class="titel">Skade & Udbedring</div>
<div>Ikke skadet biler<button></button></div>
<div>Skadet biler<button></button></div>
<div class="søgefelt">noget THYMELEAF</div>
<section class="skadeMenu">noget THYMELEAF</section>
<section class="ikkeSkadeMenu">noget THYMELEAF</section>
<h2>Fruits</h2>
<input
        type="checkbox"
        id="toggle_fruits"
        class="toggle_collapse"
        hidden
        aria-hidden="true"
>
<ul>
    <li>Tomato 🍅</li>
    <li class="collapseAfter">Grapes 🍇</li>
    <li>Watermelon 🍉</li>
    <li>Mango 🥭</li>
    <li>Peach 🍑</li>
</ul>
<label for="toggle_fruits" hidden aria-hidden="true"></label>
<h2>Vegetables</h2>
<input
        type="checkbox"
        id="toggle_vegetables"
        class="toggle_collapse"
        hidden
        aria-hidden="true"
>
<ul>
    <li>Broccoli 🥦</li>
    <li class="collapseAfter">Corn 🌽</li>
    <li>Carrot 🥕</li>
    <li>Eggplant 🍆</li>
</ul>
<label for="toggle_vegetables" hidden aria-hidden="true"></label>
<h2>Test Section</h2>
<input
        type="checkbox"
        id="toggle_testSection"
        class="toggle_collapse"
        hidden
        aria-hidden="true"
>
<div>
    <p class="collapseAfter">
        The first paragraph will show all the time, however later paragraphs will not. This method works on ANY markup so long as there's a common parent wrapper, such as a <code>&lt;div&gt;</code>
    </p><p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel nibh et dolor dignissim tempor vel vel ante. Fusce vehicula vitae elit eu commodo. Vivamus consectetur diam vitae ligula gravida, sit amet dignissim libero ultricies. Sed at efficitur dolor, ut eleifend arcu. Ut porta volutpat lobortis. Nullam sit amet est ac mauris sollicitudin ultricies. Donec maximus, velit vel lacinia faucibus, odio urna suscipit sem, at tincidunt tortor leo id orci. Nam iaculis tristique ligula. Vivamus urna ligula, iaculis a tellus sed, feugiat venenatis tellus. Maecenas ullamcorper neque at vestibulum cursus. Ut urna sapien, tempus ut ornare eget, ultrices vitae nisl.
    <p><p>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis commodo dui lectus, id elementum lectus condimentum a. Maecenas feugiat ornare lorem, ac tincidunt purus ultricies eget. Ut fringilla pharetra mi sed sodales. Cras accumsan eleifend massa, et ullamcorper ante tempus ut. Nam dolor diam, finibus a felis et, lacinia viverra dui. Donec magna leo, vestibulum id urna sit amet, dapibus pharetra orci. Sed sodales et erat sed egestas. Phasellus condimentum tempus urna, id facilisis ligula maximus vel.
</p>
</div>
<label for="toggle_testSection" hidden aria-hidden="true"></label>
</body>
</html>