<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Martin Anberg
-->
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{../static/SogU.Style.css}" href="../static/SogU.Style.css">
</head>
<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="@{/Images/BILABONNEMENT.png}" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>
<body>
<h1 class="logo"></h1>
<div class="titel">Skade & Udbedring</div>
<button style="position: absolute;width: 185px;height: 34px;top: 170px;left: 30%;z-index: 1; cursor: pointer;" >Vis beskadigede biler</button>
<button style="position: absolute;width: 185px;height: 34px;top: 170px;left: 60%;z-index: 1; cursor: pointer;" >Vis ubeskadigede biler</button>


<input type="checkbox" id="title1" />
<label for="title1">
    <th style="width: 200vw;">BilID</th>
    <th style="width: 200vw;">Skade</th>
    <th style="width: 200vw;">Pris</th>
    <button style="width: 50px;cursor: pointer;">Slet</button>
</label>



<div class="content">
    <p>
    style="width: 200vw;">Leveringstidspunkt
    style="width: 200vw;">Afhentningstidspunkt
    style="width: 200vw;">Værksted

    </p>
</div>

<input type="checkbox" id="title2" />
<label for="title2">
    BilID
    Skade
    Pris
    <button style="width: 50px;cursor: pointer;">Slet</button>

</label>

<div class="content">
    <p>
        Leveringstidspunkt
        Afhentningstidspunkt
        Værksted
    </p>
    </p>
</div>
<input type="checkbox" id="title3" />
<label for="title3">
    BilID
    Skade
    Pris
    <button style="width: 50px;cursor: pointer;">Slet</button>
</label>

<div class="content">
    <p>
    Leveringstidspunkt
    Afhentningstidspunkt
    Værksted
    </p>
</div>

</body>
</html>