<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
Forfatter: @Martin Anberg
-->
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{../static/S&U.Style.css}" href="../static/S&U.Style.css">
</head>
<header>
    <div id="headerLeft">
        <button class="buttonLogOut">Log out</button>
    </div>

    <div id="headerCenter">
        <img th:src="BILABONNEMENT.PNG" src="/static/Images/BILABONNEMENT.png" alt="BILABONNEMENT.LOGO" height="100%" width="50%">
    </div>

    <div id="headerRight">
        <p class="counterweight1"></p>
    </div>
</header>
<body>
<h1 class="logo"></h1>
<div class="titel">Skade & Udbedring</div>
<div>Ikke skadet biler<button></button></div>
<div>Skadet biler<button></button></div>
<div class="søgefelt">noget THYMELEAF</div>
<section class="skadeMenu">noget THYMELEAF</section>
<section class="ikkeSkadeMenu">noget THYMELEAF</section>

<h2>Test Section</h2>
<input
        type="checkbox"
        id="toggle_testSection"
        class="toggle_collapse"
        hidden
        aria-hidden="true"
>
<tr><td><div>
    <p class="collapseAfter">
    <th style="width: 100px;">Fornavn</th>
    <th style="width: 100px;">Efternavn</th>
    <th style="width: 100px;">3</th>
    <th style="width: 100px;">4</th>
    <th style="width: 100px;">5</th>
    <th style="width: 100px;">6</th>
    <th style="width: 100px;">7</th>
    <th style="width: 100px;">8</th>
    </p><p>
    <p class="collapseAfter">
    <th style="width: 100px;">Fornavn</th>
    <th style="width: 100px;">Efternavn</th>
    <th style="width: 100px;">3</th>
    <th style="width: 100px;">4</th>
    <th style="width: 100px;">5</th>
    <th style="width: 100px;">6</th>
    <th style="width: 100px;">7</th>
    <th style="width: 100px;">8</th>
    <p><p>
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis commodo dui lectus, id elementum lectus condimentum a. Maecenas feugiat ornare lorem, ac tincidunt purus ultricies eget. Ut fringilla pharetra mi sed sodales. Cras accumsan eleifend massa, et ullamcorper ante tempus ut. Nam dolor diam, finibus a felis et, lacinia viverra dui. Donec magna leo, vestibulum id urna sit amet, dapibus pharetra orci. Sed sodales et erat sed egestas. Phasellus condimentum tempus urna, id facilisis ligula maximus vel.
</p>
</div></td></tr>
<label for="toggle_testSection" hidden aria-hidden="true"></label>
</body>
</html>