<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skade&Udbedring</title>
    <link rel="stylesheet" th:href="@{../static_}" href="../static/S&U.Style.css">
</head>

<body>
<h1 class="logo"></h1>
<div class="titel">Skade & Udbedring</div>
<div>Ikke skadet biler<button></button></div>
<div>Skadet biler<button></button></div>
<div class="søgefelt">noget THYMELEAF</div>
<section class="skadeMenu">noget THYMELEAF</section>
<section class="ikkeSkadeMenu">noget THYMELEAF</section>
</body>
</html>